body{
	font-family: 'FontAwesome';
	background: linear-gradient(to right, #EEF1F4,#FFFFFF,#EEF1F4);
}

html{
	font-size: 14px;
}
p{
	margin: 10px 0 10px;
}

.cntks{
	color: #0160af;
}

.modal{
	background: rgba(0,0,0,0.8);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	overflow: auto;
}

.modal-content{
	background: #fefefe;
	margin: 15px auto;
	padding: 20px;
	border: 1px #888 solid;
	width: 80%;
}

.close{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}


.my-flex-container{
	background: red;
	height: 400px;
	display: flex;
	/*inline-flex*/
	flex-direction: column;
	/*row, row-reverse, column, column-reverse*/
	justify-content: space-around;
	/*flex-start, flex-end, center, space-between, space-around*/
	align-items: center;
	/*flex-start, flex-end, center, baseline, stretch*/
	flex-wrap: wrap;
	/*nowrap, wrap, wrap-reverse*/
	/*flex-flow = flex-direction + flex-wrap*/
	/*align-content: ;*/
}

.vertical-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row{
	flex-direction: row;
}

.flex-column{
	flex-direction: column;
}

.no-margin{
	margin: 0;
}
.no-padding{
	padding: 0;
}

.contact-form>div{
	padding-top: 0px;
	padding-bottom: 10px;
}

.contact-form>.flex-center{
	margin-bottom: 10px;
}

.contact-form span:nth-child(2){
	font-size: 1.2rem;
	text-align: left;
	padding-left: 5px;
}

.logo-text{
	color: #027CBB;
	font-weight: bold;
	font-size: 3.0rem;
}

/*.logo{
	max-width: 340px;
	margin-bottom: 15px;
}*/



.my-flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	font-size: 1.5rem;
	margin-top: 20px;
}

.header .row{
	margin: 0 0 15px;
}

.order{
	background: linear-gradient(#3E96DE,#02679B, #02679B, #3E96DE);
	border-radius: 5px;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4);
	height: 43px;
	width: 95%;
	color: #fff;
	text-align: center;
	font-size: 14pt;
}

/*.form img{
	height: 400px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}*/

.form .inner-background{
	/*background: url('images/form_1.jpg');*/
	/*background-size: cover;*/
	/*box-shadow: 0 5px 15px 2px rgba(0,0,0,0.5);*/
}

.title-slide{
	background: rgba(1, 96, 175, 0.6);
	padding: 10px;
	width: 70%;
	font-size: 1.5rem;
	margin-top: 15px;
}

.slider{
	height: 100%;
	width: 100%;

}

.slider-element{
	height: 250px;
	width: 100%;
	outline: none;
}

.sl1{
	background: url('images/form_1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}
.sl2{
	background: url('images/form_1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}
.sl3{
	background: url('images/form_1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}
.sl4{
	background: url('images/form_1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.draggable{
	height: 100%!important;
}

.slick-track{
	height: 100%;
}

.slider .slick-dots{
	position: absolute;
	bottom: 15px;
}
.slider .slick-dots button:before{
	font-size: 15px;
	color: white;
	opacity: .90;
}

.slick-dots li.slick-active button:before{
	color: #21C245!important;
	opacity: 1!important;
}

.shadow{
	box-shadow: 0 2px 10px 2px rgba(0,0,0,0.5);
}

.img-lst{
	height: 60px;
	width: 100px;
	margin: auto;
	text-align: center;
}

.list .row{
	margin-bottom: 30px;
}

.list .list-item{
	font-size: 1.2rem;
}


.inner-scheme{
	margin: auto;
	width: 85%;
	background: grey;
	padding: 20px 20px 20px 20px;
}

/*.inner-two-row{
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 20px;
}*/

.scheme .scheme-element{
	width: 150px;
	/*height: 100%;*/
	z-index: 100;
	/*margin-right: 50px;*/
}

.scheme>.container .scheme-wrap{
	background: url('images/light-blue-wallpaper-For-Desktop-Wallpaper.jpg');
	/*background: #C5C9FE;*/
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 20px 20px 45px;
	margin-bottom: 20px;
}

.scheme .row>div{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.title-block{
    margin-top: 5px;
    margin-bottom: 15px;
    color: #0160AF;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.scheme .scheme-pointer{
	width: 65px;
	height: 45px;
	margin-right: 50px;
  position: relative;
  bottom: 24px;
  left: 22px;
}
.scheme .scheme-pointer2{
	width: 80px;
	height: 70px;
	position: relative;
  top: 1px;
  right: 17%;
}

.scheme .scheme-pointer3{
	width: 80px;
	height: 70px;
	position: relative;
    top: -45px;
    right: 18%;
}

.scheme .container .scheme-wrap{
	width: 90%;
	margin: auto auto 20px;
}

.element-inner{
	width: 90%;
	background: rgba(255,255,255,0.8);
	text-align: center;
	border-radius: 25px;
	margin: auto;
	padding: 5px;
	font-size: 1.5rem;
	line-height: 1.0;
	font-weight: 600;
	position: absolute;
	width: 156px;
	z-index: -1;
}
.elem1{
 color: #0180C9;
 bottom: -42px;
}
.elem2{
	color: #0299D4;
	bottom: -21px;
}
.elem3{
	width: 100%;
  color: #02CFD0;
  bottom: -63px;
  width: 222px;
  left: -35px;
}
.elem4{
	color: #01D099;
	bottom: -21px;
}
.elem5{
	color: #00B64B;
	bottom: -21px;
}

.call-us{
	height: 243px;
	margin: auto;
}

.step-3 .scheme-element{
	position: relative;
	left: -20px;
	top: -45px;
}

/*.step-3{
	display: block!important;
}*/

.cont{
	/*height: 150px;*/
	/*width: 156px;*/
	/*text-align: center;*/
}

img{
	vertical-align: baseline;
}

.scheme .one-row .scheme-element:nth-last-child(1){
	position: relative;
	top: 180px;
	left: 40px;
}
.scheme img{
	width: 100%;
	/*height: 100%;*/
}


.scheme .order{
	width: 80%;
	/*margin: auto;*/
	font-size: 12pt;
}

.scheme .scheme-number{
	font-size: 40pt;
	color: #02679B;
	margin-bottom: 10px;
}
.scheme .scheme-number b{
	font-weight: 500;
	line-height: 0.3;
}

.hid{
	display: none;
}

.call-us p{
	color: #02679B;
	font-size: 1.7rem;
	margin: 0;
	line-height: 1;
}

.button-sub{
		margin-top: 10px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(yellow, #FFAF00, #FE9A00);
    color: white;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}

.form .row{
	margin-bottom: 60px;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

.fa-phone{
	transform: rotate(90deg);
	color: #0089D5;
}

.header i{
	position: relative;
	right: 5px;
	top: 2px;
}

.fa-envelope{
	color: #0089D5;
}

.header-title{
	text-align: center;
	color: #0160AF;
	font-size: 2rem;
	font-weight: bold;
	margin: 20px 0 30px;
}

.contact-form{
	padding: 20px;
	
}

.inner-form{
	background: #21C245;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

.form form>input{
	width: 100%;
	height: 39px;
	margin: 0 auto 9px;
	display: block;
	border-radius: 4px;
	padding: 5px;
	color: black;
	font-size: 1.2rem;
}

.form{
	color: white;
	text-align: center;
}

.form form span{
	display: inline-block;
	margin: 0 6px 0 1px;
	font-size: 1.2rem;
}
.form form span input{
	position: relative;
	top: 1px;
}



.list h4{
	color: #0160AF;
}

.pick-inner{
	background: linear-gradient(#00D25D,#00B812);
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.pick-inner-title{
	color: white;
	font-size: 15pt;
	text-align: center;
	padding: 25px;
}

.pick-inner>hr{
	margin-top: 0;
}

.pick-inner .col-sm-4{
	text-align: center;
}


.pick-inner .inp input,
.pick-inner .inp input{
	width: 100%;
	height: 40px;
	padding: 7px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.pick-inner .checks{
	color: white;
	height: 35px;
	text-align: left;
  margin-bottom: 13px;
  margin-top: 8px;
	padding-top: 6px;
	font-size: 1.2rem;
}

.description-solutions{
	font-size: 1.1rem;
}

hr{
	margin-top: 0;
}
.pick form>div{
	text-align: center;
	margin-top: 12px;
}

.pick form>div>input{
	height: 60px;
	width: 280px;
	border-radius: 5px;
	background: linear-gradient(yellow, #FFAF00, #FE9A00);
	color: white;
	font-weight: bold;
	font-size: 14pt;
	cursor: pointer;
}


.solutions img{
	width: 100%;
}

.sol-title{
	position: absolute;
	font-weight: bold;
	bottom: 15px;
	background: rgba(0, 184, 50, 0.6);
	padding: 5px 10px 5px;
	color: white;
	font-size: 1.4rem;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.solutions .row:nth-child(2){
	margin-bottom: 25px;
}

.solutions p{
	margin-top: 5px;
	margin-bottom: 0;
	color: #0160AF;
	font-size: 16pt;
	font-weight: bold;
}

.solutions .row>div{
	margin: 10px 0 10px;
}

.solutions-item{
	height: 190px; background-size: 100% 100%!important;
}

.objects{
	background: #006AC4;
	color: white;
	padding-bottom: 35px;
	padding-top: 23px;
}

.objects .col-sm-4 div{
	margin-bottom: 20px;
}

.objects-title{
	color: white;
	font-size: 17pt;
	text-align: center;
	margin: 0 0 23px;
	font-weight: bold;
}

.objects p{

}

.image-obj{
	width: 100%;
	height: 220px;
}

.footer{
	padding: 5px 0 20px;
	background-color: #015fb1;
	color: white;
}

.footer i{
	color: white;
	position: relative;
	top: 2px;
}

.family-normal{
	font-weight: normal;
}

.logo-footer{
	width: 100px;
	height: 100px;
	display: block;
	margin-right: 30px;
}

.inner-logo{
	font-size: 2.8rem;
}

.footer-order{
	background: linear-gradient(#d6d6d6,#ffffff, #fff, #d4d4d4);
	border-radius: 5px;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4);
	height: 43px;
	width: 95%;
	color: #015fb1; /*#3A3A3A;*/
	text-align: center;
	font-size: 14pt;
}


@media screen and (max-width: 1200px) {
	.scheme .container .scheme-wrap{
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.step-3 .scheme-element{
		left: -35px;
	}

	.pick .checks{
		position: relative;
		bottom: 13px;
	}
	.solutions-item{
		height: 300px;
		width: 63%;
		margin: auto;
	}
	.my-flex{
		margin-top: 0;
		/*height: 86px;*/
	}
	.logo{
		height: 68px;
	}
	.cntks{
		height: 68px;
		text-align: center;

	}
	.ord{
		margin-top: -21px;
		margin-bottom: -24px;
	}
	.logo-footer{
		height: 50px;
		width: 50px;
		margin-right: 16px;
	}
	.inner-logo{
		font-size: 2.3rem;
	}
	.cont{
		height: 70px;
		text-align: center;
	}
	.logo-text{
		font-size: 2.3rem;
	}
	.header-title{
		margin: -12px 0 13px;
	}
}

@media screen and (max-width: 767px){
	.step-3 .scheme-element{
		left: 0px;
		top: 0px;
	}
	.hid{
		display: block;
	}
	.no-hid{
		display: none!important;
	}

	.scheme .row>div{
		margin-bottom: 25px;
	}
	.element-inner{
		position: static;
	}
	.elem3{
		position: relative;
		bottom: 0;
	}
	.ord1{
		order: 2;
	}
	.call-us{
		height: 184px;
		margin-bottom: 0!important;
	}
	.scheme-wrap{
		padding-bottom: 10px!important;
	}
	.pick .checks{
		margin-bottom: 0;
	}
	.solutions-item{
		height: 300px;
		width: 100%;
		margin: auto;
	}
	.scheme .scheme-number{
		font-size: 25pt;
	}
}

